<table>
<tr>
  <td>
  <youtube-player 
  videoId="YFmqGXWmyE4" 
  suggestedQuality="highres" 
  [height]="200" 
  [width]="250" 
  [startSeconds]="4"
	[endSeconds]="300">
</youtube-player>
  </td>
  
  <td> Beefor é a primeira plataforma no
  mundo focada em governança e gestão de equipes ágeis. Vamos
  apresentar as orientações sobre algumas funcionalidades da
  plataforma! Mas antes, assista o nosso vídeo!</td> 
</tr>

<p></p>


</table>
<table>
  <tr>
    <td>
      <img class="comentario-avatar" src="https://cdn.jsdelivr.net/gh/RodrigoMouraBR/InserirVideoYoutubeAngular@master/src/gifs/AwsS3.gif">
    </td>
    
    <td> Beefor é a primeira plataforma no
    mundo focada em governança e gestão de equipes ágeis. Vamos
    apresentar as orientações sobre algumas funcionalidades da
    plataforma! Mas antes, assista o nosso vídeo!</td> 
  </tr>
  
  </table>